apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argo-demo
  template:
    metadata:
      labels:
        app: argo-demo
    spec:
      containers:
        - name: argo-demo
          image: your-docker-hub-username/argo-demo:latest //////////////////////////
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: argo-demo-service
spec:
  selector:
    app: argo-demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: NodePort